altair
amqp
APScheduler
asgiref
astroid
attrs
autopep8
bcrypt
beautifulsoup4
bidict
billiard
blinker
cachelib
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coloredlogs
decorator
django-debug-toolbar
django-redis
django-rest-framework-mongoengine
Django==3.2
djangorestframework==3.12.4
djongo
dnspython
eventlet
filelock
Flask
Flask-Cors
Flask-Session
Flask-SocketIO
flatbuffers
fsspec
gitdb
GitPython
greenlet
gunicorn
h11
huggingface-hub
humanfriendly
idna
imageio
imageio-ffmpeg
isort
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kombu
lazy-object-proxy
lazy_loader
llvmlite
markdown-it-py
MarkupSafe
mccabe
mdurl
mongoengine
moviepy
mpmath
mysqlclient
networkx
nltk
numba
numpy
onnxruntime
opencv-python-headless
packaging
pandas
pillow
platformdirs
pooch
proglog
prompt_toolkit
protobuf
psycopg2
psycopg2-binary
pyarrow
pycodestyle
pycparser
pydeck
pygame
Pygments
pylint
PyMatting
pymongo
python-dateutil
python-decouple
python-dotenv
python-engineio
python-socketio
pytz
PyYAML
redis
referencing
regex
rembg
requests
rich
rpds-py
safetensors
scikit-image
scikit-learn
scipy
setuptools
simple-websocket
six
smmap
soupsieve
sqlparse
streamlit
sympy
tenacity
threadpoolctl
tifffile
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth
Werkzeug
wrapt
wsproto
zope.event
zope.interface
